:root {

    /* Typografie */
    --font-heading: "JetBrains Mono", monospace;
    --font-normal: "Inter", sans-serif;
    --font-serif: "Source Serif 4", serif;

    /* Ausnahmen */
    --footer-color: rgb(0, 0, 0); 

    /* Light Mode (Standard) */
    --bg-color: rgb(220, 220, 220);
    --text-color: rgb(50, 50, 50);
    --text-color-muted: rgb(100, 100, 100);
    --title-color: rgb(20, 20, 20);
    --border-color: rgb(200, 200, 200);

}

     
:root.dark {

    /* Dark Mode */
    --bg-color: rgb(15, 15, 15);
    --text-color: rgb(220, 220, 220);
    --text-color-muted: rgb(160, 160, 160);
    --title-color: rgb(250, 250, 250);
    --border-color: rgb(80, 80, 80);
}


body {
    /* Struktur */
    font-family: var(--font-normal);
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.theme-loaded {
    transition: background-color 0.2s ease, color 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--title-color);
}