<section id="hero">
  <div>
    <p>Hallo, ich bin</p>

    <h1>Lucas Frey</h1>

    <p>
      Softwareentwickler & Mediengestalter.
    </p>

    <div>
      
    </div>
  </div>

  <div>
    <!-- Hier kommt später dein Bild -->
  </div>
</section>


