<section id="kontakt">
  <h2>Kontakt</h2>

  <p>
    Kontakt aufnehmen? Dann schreib mir eine E-Mail an
    <a href="mailto:kontakt@lucasfrey.de">
      kontakt@lucasfrey.de
    </a>.
  </p>

  <a href="mailto:kontakt@lucasfrey.de">
    E-Mail senden
  </a>
</section>