<header>
    <nav>
        <a href="/">Lucas Frey</a>

        <ul>
            <li><a href="#ueber-mich">Über mich</a></li>
            <li><a href="#faehigkeiten">Fähigkeiten</a></li>
            <li><a href="#projekte">Projekte</a></li>
            <li><a href="#kontakt">Kontakt</a></li>
        </ul>
    </nav>
</header>