
---
interface Props {
    href: string;
    variant?: "red" | "orange" | "blue";
}

const {
    href,
    variant = "red"
} = Astro.props;
---

<a
    href={href}
    class={`button button--${variant}`}
>
    <slot />
</a>

<style>
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: .25rem .75rem;

    text-decoration: none;
    color: inherit;

    font-family: "Roboto Mono", monospace;
    font-size: .95rem;

    background: white;
    border: 1px solid #2d2d2d;

    filter: drop-shadow(3px 3px 0 #282828);

    transition:
        transform .08s,
        filter .08s,
        background-color .15s,
        color .15s;
}

.button:hover {
    transform: translate(-1.5px,-1.5px);
    filter: drop-shadow(4.5px 4.5px 0 #282828);

    background: #515151;
    color: white;
}

.button--red:hover {
    background: #db5d5d;
    color: white;
}

.button--orange:hover {
    background: #ff9a55;
    color: white;
}

.button--blue:hover {
    background: #5d8bff;
    color: white;
}

.button:active {
    transform: translate(1.5px,1.5px);
    filter: none;
}
</style>